{{> header }}

<h1>{{present.name}}</h1>
<img src="{{present.image}}" alt="{{present.name}}" style="width: 200px;">
<p>Price: {{present.price}}</p>
<p>Recipient: {{present.recipient}}</p>
<p>Description: {{present.description}}</p>

<nav>
  <a href="/presents">Back to presents list</a>
</nav>

{{> footer }}
